---
import "../styles/globals.css";

const instructions = 'Relaciona cada país con su capital haciendo click en uno y luego en otro.';

const concepts = [
    { concept1: 'España', concept2: 'Madrid' },
    { concept1: 'Francia', concept2: 'París' },
    { concept1: 'Japón', concept2: 'Tokio' },
    { concept1: 'Alemania', concept2: 'Berlín' }
];
---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juego de Capitales</title>
  <!-- <link rel="stylesheet" href="/styles/globals.css"> -->
</head>
<body>
	<section class="main-container">
        <main class="content-container">
            <h1 class="game-instructions">
                {instructions}
            </h1>
            <div class="content-container-body">
                <div class="countrys-col content-col">
                    {
                        concepts.map((item) => (
                            <div id={item.concept1} class="concept1-button" onclick="handleClick( event, 'country')">
                                {item.concept1}
                            </div>
                        ))
                    }
                </div>
                <div class="capitals-col content-col">
                    {
                        concepts.map((item) => (
                            <div id={item.concept2} class="concept2-button" onclick="handleClick( event , 'capital')">
                                {item.concept2}
                            </div>
                        ))
                    }
                </div>
            </div>
        </main>
    </section>
    <div id="congratulationsModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <p>¡Felicidades! Has emparejado correctamente todos los países y sus capitales.</p>
        </div>
    </div>

    <script src="../scripts/game.js">
       
    </script>
</body>
</html>
